# Bonus: Temperature Analysis I

In [131]:
import pandas as pd
from datetime import datetime as dt
import scipy.stats as st

In [132]:
# "tobs" is "temperature observations"
df = pd.read_csv('Data/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [133]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [134]:
# Set the date column as the DataFrame index
date_index = df.set_index('date')

In [135]:
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [136]:
# Drop the date column
date_drop = date_index.reset_index(drop = True)

In [137]:
date_drop.head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

### Compare June and December data across all years

In [138]:
from scipy import stats

In [139]:
# Filter data for desired months
df['month'] = df['date'].apply(lambda x: x.strftime('%m'))
df['year'] = df['date'].apply(lambda x: x.strftime('%y'))
df

           station       date  prcp  tobs month year
0      USC00519397 2010-01-01  0.08    65    01   10
1      USC00519397 2010-01-02  0.00    63    01   10
2      USC00519397 2010-01-03  0.00    74    01   10
3      USC00519397 2010-01-04  0.00    76    01   10
4      USC00519397 2010-01-06   NaN    73    01   10
...            ...        ...   ...   ...   ...  ...
19545  USC00516128 2017-08-19  0.09    71    08   17
19546  USC00516128 2017-08-20   NaN    78    08   17
19547  USC00516128 2017-08-21  0.56    76    08   17
19548  USC00516128 2017-08-22  0.50    76    08   17
19549  USC00516128 2017-08-23  0.45    76    08   17

[19550 rows x 6 columns]

In [140]:
# Identify the average temperature for June
df['month'] = df['month'].astype(int)
june = df[df['month'] == 6]
average_june = june['tobs'].mean()

In [141]:
print('The average temperature recorded for all years in june is:')
print(f'{round(average_june, 1)}')

The average temperature recorded for all years in june is:
74.9

In [142]:
# Identify the average temperature for December
df['month'] = df['month'].astype(int)
dec = df[df['month'] == 12]
average_dec = dec['tobs'].mean()

In [143]:
print('The average temperature recorded for all years in December is:')
print(f'{round(average_dec, 1)}')

The average temperature recorded for all years in December is:
71.0

In [165]:
# Run paired t-test
#p_val, t_val = st.ttest_rel(june['tobs'], dec['tobs'])
len(dec['tobs'])

1517

### Analysis